@using Engotalk.Model
@model IEnumerable<UniversityM>

@{
    ViewData["Title"] = "University Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a asp-action="Create" class="btn btn-secondary">
                    <span class="tf-icons fas fa-plus"></span>&nbsp; Add University
                </a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">University</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">University Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>University</th>
                                    <th>Country</th>
                                    <th>Rank</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    if (@Model != null)
                                    {
                                        @foreach (var item in @Model)
                                        {
                                            <tr>
                                                <td>@item.UniversityType</td>
                                                <td>@item.University</td>
                                                <td>@item.country?.CountryName</td>
                                                <td>@item.Rank</td>
                                                <td>
                                                    <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.UniversityId"><i class="fas fa-edit me-1"></i> Edit</a> 
                                                    <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.UniversityId"><i class="fas fa-trash me-1"></i> Delete</a>
                                                </td>
                                            </tr>

                                        }
                                    }

                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
