@using Engotalk.ViewModel
@{
    ViewData["Title"] = "Universities";
    IEnumerable<InstituteVM> InstitutesVM = ViewBag.Institutes as IEnumerable<InstituteVM>;
}
<link rel="stylesheet" href="~/css/UnivStyle.css" asp-append-version="true" />



<!--::review_part start::-->
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div class="section_tittle section_cus_tittle text-center">
                    <p>@ViewBag.Course</p>
                    <h2>INSTITUTE - Find Your Dream University</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="whole-wrap ">
    <div class="container ">
        <div class="body-tbl text-center">

            <table class="styled-table justify-content-center ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name Of Institute</th>
                        <th>Location</th>
                        <th>Established</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Tuition Fees</th>
                        <th>Exams Accepted</th>
                    </tr>
                </thead>
                <tbody>
                    @if (InstitutesVM != null)
                    {
                        int no = 1;
                        @foreach (var item in @InstitutesVM)
                        {
                            <tr>
                                <td>@no</td>
                                <td>@item.University</td>
                                <td>@item.Location, @item.Country </td>
                                <td>@item.Established</td>
                                <td>@item.Type</td>
                                <td class="exper">@item.Duration</td>
                                <td>@item.Cost</td>
                                <td>@item.ExamsAccepted</td>

                            </tr>

                            no++;
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<section id="collegeid" class="special_cource">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle section_cus_tittle text-center">
                    <p>@ViewBag.Course</p>
                    <h2>Exam Scores</h2>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="whole-wrap">
    <div class="container" style="padding:0!important">
        <div class="body-tbl text-center">

            <table class="styled-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name Of Institute</th>
                        <th>IELTS</th>
                        <th>GRE</th>
                        <th>TOEFL</th>
                        <th>SAT</th>
                    </tr>
                </thead>
                <tbody>
                    @if (InstitutesVM != null)
                    {
                        int no = 1;
                        @foreach (var item in @InstitutesVM)
                        {
                            <tr>
                                <td>@no</td>
                                <td>@item.University</td>
                                @* <td>@item.IELTSRequirment</td>*@
                                <td>@item.IELTSBand</td>
                                <td>@item.GREScore</td>
                                <td>@item.TOEFLlScore</td>
                                <td>@item.SATScore</td>
                            </tr>

                            no++;
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>