@using Engotalk.ViewModel
@{
    ViewData["Title"] = "Universities";
    IEnumerable<UniversityVM> universitiesVM = ViewBag.Universities as IEnumerable<UniversityVM>;
    IEnumerable<CollegeVM> collegeVM = ViewBag.colleges as IEnumerable<CollegeVM>;
}
<link rel="stylesheet" href="~/css/UnivStyle.css" asp-append-version="true" />



<!--::review_part start::-->
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>@ViewBag.Course</p>
                    <h2>Universities</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="whole-wrap">
    <div class="container ">
        <div class="body-tbl text-center">

            <table class="styled-table justify-content-center ">
                <thead >
                    <tr>
                        <th>#</th>
                        <th>Institution</th>
                        <th>IELTS Band</th>
                        <th>Ranking (QS)</th>
                        <th>Cost</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @if (universitiesVM != null)
                    {
                        int no = 1;
                        @foreach (var item in @universitiesVM)
                        {
                            <tr>
                                <td>@no</td>
                                <td>@item.University</td>
                                <td>@item.Band</td>
                                <td>@item.Rank</td>
                                <td>@item.Cost</td>
                                <td class="exper">@item.Duration</td>

                            </tr>

                            no++;
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<section id="collegeid" class="special_cource">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>@ViewBag.Course</p>
                    <h2>Colleges</h2>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <a href="#collegeid" class="btn_1">IELTS SCORE</a>
            </div>
            <div class="col-md-3">
                <a href="#collegeid" class="btn_1">TOEFL SCORE</a>
            </div>
            <div class="col-md-3">
                <a href="#collegeid" class="btn_1">DET SCORE</a>
            </div>
            <div class="col-md-3">
                <a href="#collegeid" class="btn_1">PTE SCORE</a>
            </div>
        </div>
    </div>
</section>


<div class="whole-wrap">
    <div class="container">
        <div class="body-tbl text-center">

            <table class="styled-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Univ & College</th>
                        <th>IELTS Requirement</th>
                        <th>Total IELTS Score</th>
                        <th>Listening</th>
                        <th>Reading</th>
                        <th>Writing</th>
                        <th>Speaking</th>
                        <th>Cost</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @if (collegeVM != null)
                    {
                        int no = 1;
                        @foreach (var item in @collegeVM)
                        {
                            <tr>
                                <td>@no</td>
                                <td>@item.College</td>
                                <td>@item.IELTSRequirment</td>
                                <td>@item.Band</td>
                                <td>@item.ListeningBand</td>
                                <td>@item.ReadingBand</td>
                                <td>@item.WritingBand</td>
                                <td>@item.SpeakingBand</td>
                                <td>@item.Cost</td>
                                <td class="exper">@item.Duration</td>

                            </tr>

                            no++;
                        }

                    }

                    @*  <tr class="active-row">
                    <td>Melissa</td>
                    <td>5150</td>
                    <td class="exper">1.5</td>
                    </tr>
                    <tr class="active-row">
                    <td>Martin</td>
                    <td>9800</td>
                    <td class="exper">14</td>
                    </tr>*@
                    <!-- and so on... -->
                </tbody>
            </table>
        </div>
    </div>
</div>