@using Engotalk.Model
@model IEnumerable<CourseM>

@{
    ViewData["Title"] = "Course Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a asp-action="Create" class="btn btn-secondary">
                    <span class="tf-icons fas fa-plus"></span>&nbsp; Add Course
                </a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Course</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Courses Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Exams Accepted</th>
                                    <th>IELTS</th>
                                    <th>GRE</th>
                                    <th>TOEFL</th>
                                    <th>SAT</th>
                                    <th>Duration</th>
                                    <th>Tuition Fees</th>
                                    <th>Department</th>
                                    <th>University</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (@Model != null)
                                    {
                                        @foreach (var item in @Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Course
                                                </td>
                                                <td>@item.department.university.ExamsAccepted</td>
                                                <td>@item.IELTSBand</td>
                                                <td>@item.GREScore</td>
                                                <td>@item.TOEFLScore</td>
                                                <td>@item.SATScore</td>
                                                <td>@item.CourseDuration</td>
                                                <td>@item.Cost</td>
                                                <td>
                                                    @item.department.Department
                                                </td>
                                                <td>
                                                    @item.department.university.University
                                                </td>
                                                <td>
                                                    <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.CourseId"><i class="fas fa-edit me-1"></i> Edit</a>
                                                    <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.CourseId"><i class="fas fa-trash me-1"></i> Delete</a>
                                                </td>
                                            </tr>

                                        }
                                    }

                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Course</th>
                                    <th>Exams Accepted</th>
                                    <th>IELTS</th>
                                    <th>GRE</th>
                                    <th>TOEFL</th>
                                    <th>SAT</th>
                                    <th>Duration</th>
                                    <th>Tuition Fees</th>
                                    <th>Department</th>
                                    <th>University</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
